body {
    font-family: 'Roboto', sans-serif;
    /* width: 100vw; */
}

.header {
    margin-top: 30px;
    background: #FFFFFF;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.wrapper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 37px;
}

.logo-title-text {
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
    color: #424F57;
}

.logo-title-color {
    font-weight: 900;
    color: #14AFCA;
}

.navbar-menu {
    width: 595px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.item-link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #3E4C4E;
}

.item-link-active {
    color: #14AFCA;
}

/* Header is over */

.content {
    padding-top: 161px;
    text-align: center;
    padding-bottom: 134px;
    position: relative;
}

.content::before {
    content: '';
    background-image: url('./img/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: brightness(35%);
    /* width: 100%;
    height: 100%; */
    position: absolute;
    top: -145px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.title {
    font-size: 52px;
    line-height: 75px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.what {
    padding-top: 139px;
    padding-bottom: 100px;
    text-align: center;
    position: relative;
}

.what::before {
    content: "";
    position: absolute;
    top: -69px;
    left: 0;
    border-style: solid;
    border-width: 70px 0 0 50vw;
    border-color: transparent transparent transparent #fff;
}

.what::after {
    content: "";
    position: absolute;
    top: -69px;
    right: 0;
    border-style: solid;
    border-width: 0 0 70px 50vw;
    transform: rotate(180deg);
    border-color: transparent transparent transparent #fff;
}

.block-for-triangle-what {
    position: relative;
}

.block-for-triangle-what::before {
    content: "";
    position: absolute;
    bottom: -184px;
    left: 0;
    border-style: solid;
    border-width: 85px 0 0 50vw;
    transform: rotate(-180deg);
    border-color: transparent transparent transparent #fff;
}

.block-for-triangle-what::after {
    content: "";
    position: absolute;
    bottom: -184px;
    right: 0;
    border-style: solid;
    border-width: 0 0 85px 50vw;
    border-color: transparent transparent transparent #fff;
}

.title_what {
    font-weight: 700;
    font-size: 60px;
    line-height: 40px;
    color: #14AFCA;
    margin-bottom: 15px;
}

.text-content {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0.899999px;
    color: #424F57;
    margin-bottom: 20px;
}

.text-under-content {
    font-size: 16px;
    line-height: 30px;
    color: #424F57;
}

.companies {
    padding-top: 130px;
    padding-bottom: 100px;
    position: relative;
}

.companies::before {
    content: '';
    position: absolute;
    background-image: url('./img/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(20%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.title-companies {
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    color: #14AFCA;
    text-align: center;
}

.text-under-companies {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 75px;
    letter-spacing: 0.899999px;
    color: #FFFFFF;
    text-align: center;
}

.companies-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.companies-name {
    width: 225px; /* width: max-content; */
}

.companies-name-gap {
    margin-bottom: 150px;
}

.companies-name:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 17px;
    background: #FCFBFB;
}

.meet-us {
    padding-top: 175px;
    padding-bottom: 130px;
    position: relative;
}

.meet-us::before {
    content: "";
    position: absolute;
    bottom: -79px;
    left: 0;
    border-style: solid;
    border-width: 80px 0 0 50vw;
    transform: rotate(180deg);
    border-color: transparent transparent transparent #fff;
}

.meet-us::after {
    content: "";
    position: absolute;
    bottom: -79px;
    right: 0;
    border-style: solid;
    border-width: 0 0 80px 50vw;
    border-color: transparent transparent transparent #fff;
}

.text-under-meet-us {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0.899999px;
    color: #424F57;
    text-align: center;
}

.meet-us-list {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 85px;
    margin-top: 50px;
}

.meet-us-text {
    font-size: 15px;
    line-height: 28px;
    color: #424F57;
}

.testimonials {
    text-align: center;
    padding-top: 180px;
    padding-bottom: 145px;
    position: relative;
}

.testimonials::before {
    content: '';
    position: absolute;
    background-image: url('./img/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(20%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.sub-text {
    font-family: 'OpenSans', sans-serif;
    font-style: italic;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.8px;
    color: #D3CCCC;
    margin-top: 48px;
    margin-bottom: 28px;
}

.text-sign {
    font-family: 'OpenSans', sans-serif;
    font-style: italic;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.45px;
    text-align: right;
    color: #FFFFFF;
    padding-right: 200px;
}

.why {
    text-align: center;
    padding-top: 115px;
    padding-bottom: 95px;
    position: relative;
}

.why::before {
    content: "";
    position: absolute;
    top: -80px;
    left: 0;
    border-style: solid;
    border-width: 80px 0 0 50vw;
    border-color: transparent transparent transparent #fff;
} 

.why::after {
    content: "";
    position: absolute;
    top: -80px;
    right: 0;
    border-style: solid;
    border-width: 0 0 80px 50vw;
    transform: rotate(-180deg);
    border-color: transparent transparent transparent #fff;
}

.success-formula {
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: 0.75px;
    color: #424F57;
}

/* Main is over */

.wrapper-footer {
    text-align: center;
    padding-bottom: 90px;
}

.text-footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
    color: #3D3C3C
}

.text-footer-bold {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.799999px;
}